---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Greeting from '../components/Greeting.astro';
import Calendar from '../components/Calendar.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';
import Transport from '../components/Transport.astro';
import Account from '../components/Account.astro';
import Share from '../components/Share.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Seo Gyeongwon & Lee Eunsu Wedding">
	<main>
		<Intro />
		<Greeting />
		<Calendar />
		<Gallery />
		<Location />
		<Transport />
		<Account />
		<Share />
		<Footer />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
