---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Greeting from '../components/Greeting.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';

import Account from '../components/Account.astro';
---

<Layout title="민섭 ♥ 다강 결혼합니다">
	<main>
		<Intro />
		<Greeting />
		<Gallery />
		<Location />

		<Account />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		margin: 0 auto;
		background: #fff;
	}
</style>
