---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Greeting from '../components/Greeting.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';
import Contact from '../components/Contact.astro';
import Account from '../components/Account.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="김민섭 ♥ 이다강 결혼합니다">
	<main>
		<Intro />
		<Greeting />
		<Gallery />
		<Location />
		<Contact />
		<Account />
		<Footer />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		margin: 0 auto;
		background: #fff;
	}
</style>
